build/
kernel-pi1.img
kernel-pi4.elf
kernel-pi1-b.img
kernel-pi4-b.elf
kernel-pi1-ix.img
kernel-pi4-ix.elf
kernel-pi1-card.img
kernel-pi4-card.elf
kernel-pi1-ixu.img
kernel-pi4-ixu.elf
kernel-pi1-ixk.img
kernel-pi4-ixk.elf
kernel-pi4-ocaml4*.elf
